.hide{
    display: none; 
}
.car, .enemy{
width: 50px;
height: 100px;
background: transparent url('../image/green.png') center / cover no-repeat;
transform: rotate(180deg);
position: absolute;
left: 125px;
bottom: 10px;
}
.gameArea{
    width: 300px;
    height: 100vh;
    position: relative;
    margin: auto;
    background: #999;
    overflow: hidden;
}
.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}