*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none; 
}
.car{
width: 50px;
height: 100px;
background: transparent url('./image/blue.png') center / cover no-repeat;
}